<title>Policy</title>
<link rel="stylesheet" type="text/css" href="/static/css/basic/policy.css">
<% include ../partials/header%>
<section class="hero">
    <div class="background-image" style="background-position: center; background-image: url(/static/img/index/cell-tech-3.jpg);"></div>
    <div class="hero-content-area">
        <h1>Our policy</h1>
    </div>
    <div class="gradient-mask"></div>
</section>


<div class="data">
    <h1>Data Privacy</h1>
    <hr>
    <p>Everyone expects their personal information to remain confidential. 
    This includes anything that can identify them—name, work and home address, 
    family information, employment or financial details, or more sensitive health information. 
    We strongly condemn the disclosure of any information that could lead to any form of discrimination, 
    as well as the use of identifiable genetic data without informed consent.</p>

    <p>We adhere to all privacy laws and enforce clear policies on protecting personal 
    information, including genetic data. Our data privacy program includes a global 
    organization and infrastructure as well as procedures and trainings to support 
    local activities and ensure compliance, CRC Binding Corporate Rules are a system 
    of principles, rules and tools to ensure effective levels of data protection, in 
    particular relating to transfers of personal information outside Europe and 
    Switzerland.</p>
</div>

<div class="antispam">
    <h1>Anti-spam Privacy</h1>
    <hr>
    <div class="spam">
        <h3>What is Spam?</h3>
        <p>Spam is unsolicited commercial email. CRC prohibits the use of our 
            products and services in any manner associated with the transmission, 
            distribution and delivery of spam. Any customer found to be using 
            CRC’s products for sending spam will be found in violation of this 
            policy and our Terms of Service. Consequences for violation of this 
            policy include immediate account termination as well as liability for 
            civil, criminal or administrative penalties and damages.</p>
    </div>
    
    <div class="spam">
        <h3>What Is Prohibited by CRC?</h3>
        <p>In compliance with the U.S. CAN-SPAM Act and other global regulatory 
            Acts, CRC prohibits the following:</p>
        <ul>
            <li>Emails sent with invalid or forged headers</li>
            <li>Use of a CRC or other third-party domain name to transmit 
                email without express consent</li>
            <li>Inclusion of unauthorized URLs hosted by CRC within spam</li>
            <li>Subject lines containing false or misleading information</li>
            <li>The use of harvested mailing lists or any list where the recipient 
                has not given their prior consent</li>
            <li>Any other means of deceptive addressing and misrepresentation</li>
            <li>Interfering with any other party’s use and enjoyment of the services 
                and products offered by CRC</li>
        </ul>
    </div>

    <div class="spam">
        <h3>Anti-Spam Legislation</h3>
        <p>Anti-spam law is not unique to the United States. Global regulations empower 
            many governments to enforce laws with similar requirements. Penalties can 
            include fines and/or jail time.  We reserve the right to report the use of 
            our services for spam to the relevant authorities necessary to protect our 
            users.</p>
    </div>

    <div class="spam">
        <h3>How to notify us</h3>
        <p>If you have received unsolicited email from one of our customers (or through 
            a service such as CRCMeeting, CRCWebinar, or CRCTraining, CRCClientRoom, etc), 
            please notify us immediately at productabuse@crconc.org . If CRC finds 
            unauthorized or improper use, it may, without notice, take action in its sole 
            discretion, including blocking messages from a particular Internet domain, mail 
            server or IP address as well as terminating any account found in violation of 
            this policy.</p>
    </div>
</div>
<% include ../partials/footer%>