<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Jobopenning</title>
    <% include ../partials/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
	<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/external/bootstrap3.0.css"> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/index/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/careers/careers.css">

</head>
<body>
    <div class="jumbotron">
      <Center><h1>Job Openning</h1></Center>
      <!-- <p>ASQ CQA GxP Independent Auditor</p> -->
    </div>

<section class="jobopenning">

  <div class="section-wrap w-container" id="bb">
    <h1 class="h1">Join Us</h1>
    <div class="title-subline-wrap">
      <div class="title-subline"></div>
    </div>
    <p class="title-subtext">What's your passion? Check out our open positions below.</p>
  </div>

<!--   <div class="section-wrap w-container">
    <h1 class="h1">FULL TIME JOBS</h1>
  </div> -->
  <br >
  <br>

  <ul class="nav nav-tabs" >
    <li role="presentation" class="active"><a href="#bb">FULL TIME JOBS</a></li>
    <li role="presentation"><a href="/careers/jobopenning2#bb">UCSD CAREER FAIR</a></li>
  </ul>

  <div class="positions w-container">
    <div class="w-embed">
      <!-- <section> -->
        <div class="container" id="jobs-container">
          <div class="jobs-list">
            <div class="job ">
              <a class="job-title" href="/careers/jobopenning/CTM">Clinical Trial Manager, &nbsp;Full-time</a>
              <p class="location">Greater San Diego Area, CA</p>
              <p class="tags">Jan 1, 2019</p>
            </div>
          </div>
        </div>

        <div class="container" id="jobs-container">
          <div class="jobs-list">
            <div class="job ">
              <a class="job-title" href="/careers/jobopenning/RAA">Regulatory Affairs Associate, &nbsp;Full-time</a>
              <p class="location">Greater San Diego Area, CA</p>
              <p class="tags">Jan 1, 2019</p>
            </div>
          </div>
        </div>
      </div>

    <div class="w-embed">
      <div class="container" id="jobs-container">
        <div class="jobs-list">
          <div class="job ">
            <a class="job-title" href="/careers/jobopenning/CDM">Clinical Data Manager, &nbsp;Full-time</a>
            <p class="location">Greater San Diego Area, CA</p>
            <p class="tags">Jan 1, 2019</p>
          </div>
        </div>
      </div>

      <div class="container" id="jobs-container">
        <div class="jobs-list">
          <div class="job ">
            <a class="job-title" href="/careers/jobopenning/EA">Executive Assistant, &nbsp;Full-time</a>
            <p class="location">Greater San Diego Area, CA</p>
            <p class="tags">Jan 1, 2019</p>
          </div>
        </div>
      </div>
      <!-- </section> -->
    </div>

    <div class="w-embed">
      <div class="container" id="jobs-container">
        <div class="jobs-list">
          <div class="job ">
            <a class="job-title" href="/careers/jobopenning/CM">Contract Manager, &nbsp;Full-time</a>
            <p class="location">Greater San Diego Area, CA</p>
            <p class="tags">Jan 1, 2019</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

    



    <!-- <section class="destinations">
        
        <ul class="grid">
                <li class="small">
                    <div class="items">Gxp Independent Auditing</div>
                
                    <div class="items2"> 
                        <div class="item2text">
                            <ul>
                                <li>Clients in China/US</li>
                                <li>Audit Findings Review</li>
                                <li>CAPA Consulting</li>
                                <li>CAPA Development</li>
                                <li>CAPA Review</li>
                            </ul>
                        </div>
                        <div class="item2picture">
                            <img class="ssimg" src="/static/img/index/mountain2.jpg">
                        </div>
                    </div>
                </li>
            </ul>
        </section> -->

   <!--  <center><h1>Locations</h1></center>
    <hr>
	<section class="sd">
        <ul class="grid">
            <ul class="address">
                <li><strong>San Diego</strong></li>
                <li>8525 Camino Santa Fe, Suite E</li>
                <li>San Diego, CA 92121</li>
            </ul>
            <li class="small" style="background-image: url(/static/img/index/CompanyName.jpg);"></li>
            <li class="large" style="background-image: url(/static/img/index/mountain2.jpg);"></li>
        </ul>
    </section>
    <hr>
    <section class="bj">
            <ul class="grid">
                <ul class="address">
                    <li><strong>Beijing</strong></li>
                    <li>Beijing Airport Industrial Zone B District</li>
                    <li>Twin Tower A 6th Floor Suite 611</li>
                </ul>
                <li class="small" style="background-image: url(/static/img/index/CompanyName.jpg);"></li>
                <li class="large" style="background-image: url(/static/img/index/BeijingOffice.jpg);"></li>
            </ul>
        </section> -->
    <% include ../partials/footer %>
</body>
</html>