<% include ../partials/header %>

<link rel="stylesheet" href="/static/css/references/cfda.css">

  <div class="jumbotron" id="hero" style="height: 450px">
    <h1 id="title">CFDA</h1>
    <div class="gradient-mask"></div>
  </div>

  <div class="container" id="cfda">
    <div id="content" class="row">
      <div class="col-sm-3" id="sidebar">
        <div class="list-group">
          <a id="website" class="list-group-item active">Website</a>
          <a id="laws" class="list-group-item">Laws</a>
          <a id="guidances" class="list-group-item">Guidances</a>
          <a id="draft" class="list-group-item">Draft Guidances</a>
          <a id="vip" class="list-group-item">VIP PR</a>
        </div>
      </div>
      <div class="col-sm-9">
        <div id="main-content">

        </div>
      </div>
    </div>
  </div>

<% include ../partials/footer %>
<script src="/static/js/references/cfda.js"></script>