<title>Press</title>
<link rel="stylesheet" type="text/css" href="/static/css/basic/press.css">
  <% include ../../partials/header%>
  <section class="hero">
    <div class="background-image" style="background-position: center; background-image: url(/static/img/index/cell-tech-3.jpg);"></div>
    <div class="hero-content-area">
        <h1>Our Press</h1>
    </div>
    <div class="gradient-mask"></div>
  </section>

  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>Oct 29, 2018</time>
          <a href="https://www.prweb.com/releases/2018/06/prweb15536259.htm" class="link">CBMG Open GMP Doors to International Attendees.</a>
        </div>
      </li>
      
      <li>
        <div>
          <time>Oct 15, 2018</time>
          <a href="/basic/press/press_1">CRC Oncology Announces the Opening of New Office in Beijing, Strengthening Global Presence in China.</a>
        </div>
      </li>

      <li>
        <div>
          <time>Sep 28, 2018</time>
          <a href="/basic/press/press_2">FDA Grants TransThera Biosciences Approval to Proceed with the Clinical Development of TT-00420 in the U.S.</a>
        </div>
      </li>

      <li>
        <div>
          <time>Jun 5, 2018</time>
          <a href="https://actss2018.org/content-hub/cbmg-open-gmp-doors-to-international-attendees">CRC Oncology Corp Selects Medrio eClinical with Eye Toward New Business in China.</a>
        </div>
      </li>

    </ul>
  </section>
<% include ../../partials/footer%>