<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<% include partials/header %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CRC Oncology</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
	<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/external/bootstrap3.0.css"> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index/styles.css">


	
</head>
<body>
	<section class="hero">
		<video class="hero-vid" playsinline autoplay muted loop>
			<source src="/static/vid/index/hero.mp4">
		</video>
		<h1>CRC Oncology</h1>
		<h3><a href="#" class="ll" role="button" data-toggle="modal" data-target="#Modal0">Contact Us <span class="glyphicon glyphicon-link" aria-hidden="true"></span> </a> </h3> 
	</section>
	
	<!--
	<section class="hero">
		<div class="background-image" style="background-position: center; background-image: url(/static/img/index/home0.png);"></div>
		<div class="hero-content-area">
			<h1>CRC Oncology</h1>
			<h3><a href="#" class="ll" role="button" data-toggle="modal" data-target="#Modal0">Contact Us <span class="glyphicon glyphicon-link" aria-hidden="true"></span> </a> </h3> 
		</div>
	</section>
	-->
		<div class="modal fade" id="Modal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <center><h4 class="modal-title" id="myModalLabel">Contact Us</h4></center>
                  </div>
                  <div class="modal-body">
                    <form action="/" method="POST">
                      <input type="text" class="w-input" autofocus="true" maxlength="256" name="name" placeholder="Name" id="name"/>
                      <input type="email" id="email" name="email" data-name="Email" placeholder="E-mail address" maxlength="256" required="" class="form-text-field w-input"/>
                      <input type="text" class="form-text-field w-input" maxlength="256" name="subject" data-name="Subject" placeholder="Subject" id="subject" required=""/>
                      <textarea id="message" name="message" placeholder="Type your message here" maxlength="5000" required="" data-name="Message" class="form-textarea w-input"></textarea>
                      <center>
                      	<button type="submit" class="btn btn-default">Submit</button>
                      <center>
                      <!-- <input type="Submit"> -->
                    </form>
                  </div>
                  <div class="modal-footer">

                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal -->
      </div>



     <section class="package">
		<div class="package1" id="world">
			<h2>Our Mission</h2>
			<center><hr></center>
			<p class="mission" >
				Our mission is to reshape the landscape of cancer treatement. Taking in young minds, new ideas, and advanced technologies to help in the betterment of the human race and its war with cancer.<!-- Using dynamic, evolving, advanced cell therapies, we will cure the world of this problem and better the future of tomorrow.
				we embrace the advanced technology, commit to adopting the dynamic environment of cell and gene therapy development, reshape the landscape of cancer treatment.--></p>
			<!-- <p class="signature" > -- Cindy Ru </p> -->
		</div>
	</section>


	<section class="destinations">
		<h3 class="title">Our services</h3>
		<hr>

		<ul class="grid">
			<!-- <li class="small" style="background-image: url(/static/img/index/mountain1.jpg);"></li>
			<li class="large" style="background-image: url(/static/img/index/mountain2.jpg);"></li>
			<li class="large" style="background-image: url(/static/img/index/mountain3.jpg);"></li>
			<li class="small" style="background-image: url(/static/img/index/mountain4.jpg);"></li> -->
		<!--
			<li class="small2">QUALITY</li>
			<li class="large2">REGULATORY</li>
			<li class="small" style="background-image: url(img/index/mountain1.jpg);"></li>
			<li class="large" style="background-image: url(img/index/mountain2.jpg);"></li>
			<li class="large2">CLINICAL</li>
			<li class="small2">BUSINESS</li>
			<li class="large" style="background-image: url(img/index/clinical.png);"></li>
			<li class="small" style="background-image: url(img/index/business.jpg);"></li>
		-->
			<li class="large">
				<div class="items">QUALITY</div>
				<div class="exp">ASQ CQA GxP Independent Auditor</div>
				<div class="serviceimg"> 
					<a href="/services/quality"><img class="ssimg" src="/static/img/index/quality0.png"></a>
				</div>
			</li>

			<li class="small">
				<div class="items">REGULATORY</div>
				<div class="exp">IND / CTA / BLA / NDA eCTD Submission</div>
				<div class="serviceimg"> 
					<a href="/services/regulatory"><img class="ssimg" src="/static/img/index/reg_home2.jpg"></a>
					 </div>
			</li>

			<li class="small">
				<div class="items">CLINICAL</div>
				<div class="exp">Phase I / Phase II / Phase III Oncology Global Clinical Development</div>
				<div class="serviceimg"> 
					<a href="/services/clinical"><img class="ssimg" src="/static/img/index/clinical1.jpg"></a>
				</div>
			</li>

			<li class="large">
				<div class="items">BUSINESS</div>
				<div class="exp">Marketing Reasech / Dilligence</div>
				<div class="serviceimg"> 
					<a href="/services/business"><img class="ssimg" src="/static/img/index/bd1.png"></a>
				</div>
			</li>

		</ul>
	</section>

	<!-- <section class="package">
		<h3 class="title">Tour Packages</h3>
		<p>We offer a variety of mountaineering packages. Whether you've climbed Everest or don't even know what a mountain is, weve got the perfect vacation for you.</p>

		<ul class="grid">
			<li>
				<i class="fa fa-compass fa-4x"></i>
				<h4>Guided Trips</h4>
				<p>Looking for the complete experience? Take a tour with one of our experts. They'll show you secrets that you're likely to miss otherwise.</p>
			</li>
			<li>
				<i class="fa fa-camera-retro fa-4x"></i>
				<h4>Photo Trips</h4>
				<p>Want to experience nature's beauty without all of that annoying exercise? Take a photo tour on on e of our mountain buses.</p>
			</li>
			<li>
				<i class="fa fa-bicycle fa-4x"></i>
				<h4>Biking Trips</h4>
				<p>If bicycles are more your speed, consider taking a tour through one of our mountain bike paths. We'll provide the bikes, and lunck too!</p>
			</li>
			<li>
				<i class="fa fa-flag-checkered fa-4x"></i>
				<h4>Racing Trips</h4>
				<p>Got a competitive spirit? Sign up for one of our mountain marathons! Try to reach the summit before anyone else.</p>
			</li>
		<ul>
	</section> -->


	<!-- <section class="testimonials">
		<h3 class="title">Testimonials from our adventures:</h3>
		<hr>
		<p class="quote">Wow! This tour made me realize how much I love mountains. After going on ome of these tours. I can safely say that they are my favorite geographic feature, and my favorite word athat starts with M.</p>
		<p class="author">- Colt Steele</p>
		<p class="quote">I never understood why people cared so much aoubth mountains. But then I went on one of these tours. Now I can't understand people who <em>don't</em> care about mountains</p>
		<p class="author">- Elie Schoppik</p>
		<p class="quote">- If you want to understand the universe, head to the mountains. I mean, seriously. It's like, woah. You know? It's like that.</p>
		<p class="author">- Tim Garcia</p>
	</section> -->

	<!-- <section class="testimonials">
		<h3 class="title">Memberships</h3>
		<div class="Copyright">
			<p><strong>Copyright:</strong> All content on this web site, such as text, graphics, logos, button icons and images is the property of CRC Oncology Corp. or its content suppliers and protected by United States and international copyright laws. The selection, arrangement, and presentation of all materials on this web site (including information in the public domain), and the overall design of this web site is the exclusive property of CRC Oncology Corp. and protected by United States and international copyright laws. All software on this site is the property of CRC Oncology Corp. or its software suppliers and protected by United States and international copyright laws.</p>
		</div>

		<div class="Trademarks">
			<p><strong>Trademarks:</strong> The graphics, logos, page headers, button icons, scripts and service names are trademarks or trade dress of CRC Oncology Corp. and such trademarks and trade dress may not be used in connection with any product or service of CRC Oncology Corp., in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits CRC Oncology Corp., its products or services or this web site. All other trademarks not owned by CRC Oncology Corp. that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by CRC Oncology Corp.</p>
		</div>

	</section> -->

	<!-- <section class="contact" id="contact">
		<h3 class="title">Learn more</h3>
		<p>Want to know about our upcoming mountain-related events or come to one of our mixers? Just sign up for our mailing list. no spam from us, we promis! Except for the spam we give you to keep up your energy while your're hikingthroug h the mountains. We have tons of that.</p>
		<hr>
		
		<form>
			<input type="email" placeholder="Email">
			<a href="#" class="btn">Subscribe now</a>
		</form>
	</section> -->


<footer>
  
  <div class="corp-info">
    <h4>Headquarter</h4>
    <p>8525 Camino Santa Fe Ste E, <br> San Diego, CA 92121</p>
  </div>
  <div class="corp-info">
    <h4>Beijing Office</h4>
    <p>/Beijing Airport Industrial Zone B <br> District Twin Tower A 6th Floor Suite 611 </p>
  </div>
  
  <div>
  <ul>
    <li><a href="https://twitter.com/crconcology" class="fa fa-twitter-square fa-2x"></a></li>
    <li><a href="https://www.facebook.com/crconcology/" class="fa fa-facebook-square fa-2x"></a></li>
    <li><a href="https://cn.linkedin.com/company/crconc" class="fa fa-linkedin-square fa-2x"></a></li>
  </ul>
  <p>CRC ONCOLOGY 2018 ©</p>
  </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/static/js/index.js"></script>
</body>
</html>