<title>Talks</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
<link rel="stylesheet" type="text/css" href="/static/css/basic/talks.css">
<% include ../../partials/header%>

<section class="hero">
    <div class="background-image" style="background-position: center; background-image: url(/static/img/index/cell-tech-3.jpg);"></div>
    <div class="hero-content-area">
        <h1>Talks</h1>
    </div>
    <div class="gradient-mask"></div>  
</section>
    
<section class="buttons">
    <div class="btn-group btn-group-justified year" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary" href="/basic/talk2019">2019</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary" href="/basic/talk2018">2018</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary" href="/basic/talk2017">2017</a>
        </div>
    </div>
</section>

<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie"> -->
            <span class="glyphicon glyphicon-modal-window"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Shanghai</h2>
            <a href="https://actss2017.org/" class="website">Advance Cell Therapy Shanghai Summit (ACTSS) 2017</a>
            <a href="https://actss.org/landing-page/speakers/" class="cd-read-more">Learn more</a>
            <span class="cd-date">Nov 17, 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location"> -->
            <span class="glyphicon glyphicon-list-alt"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Shanghai</h2>
            <a href="http://www.chinatrialsevent.com/" class="website">ChinaTrail 2017</a>
            <a href="/basic/talks/ChinaTrail" class="cd-read-more">Learn more</a>
            <span class="cd-date">Nov 8-10, 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie"> -->
            <span class="glyphicon glyphicon-modal-window"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>San Diego</h2>
            <a href="http://www.meetingonthemesa.com/" class="website">ARM Cell & Gene Meeting on the Mesa 2017</a>
            <a href="https://www.youtube.com/watch?v=dkA7ql_ae80&t=0s&list=PLbTBF__p6d_IZniXAMyBQckZVEpCP8DrY&index=19" class="cd-read-more">Learn more</a>
            <span class="cd-date">Oct 4-5, 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <span class="glyphicon glyphicon-list-alt"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Boston</h2>
            <a href="http://car-tcr-summit.com/" class="website">CAR-TCR Summit 2017</a>
            <a href="https://tw.saowen.com/a/f52aa0f7a8009052d4ab08e54770052618ec8a7ee59f1a907e8c585e75347115" class="cd-read-more">Learn more</a>
            <span class="cd-date">Sep 5-8, 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie"> -->
            <span class="glyphicon glyphicon-modal-window"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>London</h2>
            <a href="https://www.phacilitate.co.uk/channels/investment-advanced-therapies" class="website">Phacilitate Investment for Advanced Therapies 2017</a>
            <a href="https://www.lsxleaders.com/carsgen-therapeutics?hsCtaTracking=b98c355f-fd95-4e5d-b4f5-272bde44abdd%7Ca9ff7d8c-0249-484c-8b91-c10d8bf0b13f" class="cd-read-more">Learn more</a>
            <span class="cd-date">May 3, 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

</section> <!-- cd-timeline -->

<% include ../../partials/footer%>