<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Business</title>
    <% include ../partials/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
	<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/external/bootstrap3.0.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/index/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/services/quality/styles.css">

</head>
<body>
    
 

    <center><h1>Business</h1></center>
    <!-- <center><h1>Quality</h1></center>
    <center><hr></center>
    <center><div>Put the End in Mind, Establish a Well Structured Quality Management System,<br> Master Control and Minimize the Potential Waste and Risks at Different Stages of Product Lifecycle. </div></center> -->
    
    <div class="jumbotron">
      <h1>Business</h1>
      <p>Marketing Reasech / Dilligence</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#Modal0">Consulting</a></p>

    </div>

    <div class="modal fade" id="Modal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <center><h4 class="modal-title" id="myModalLabel">Contact Us</h4></center>
                  </div>
                  <div class="modal-body">
                    <form action="/services/business" method="POST">
                      <input type="text" class="w-input" autofocus="true" maxlength="256" name="name" placeholder="Name" id="name"/>
                      <input type="email" id="email" name="email" data-name="Email" placeholder="E-mail address" maxlength="256" required="" class="form-text-field w-input"/>
                      <input type="text" class="form-text-field w-input" maxlength="256" name="subject" data-name="Subject" placeholder="Subject" id="subject" required=""/>
                      <textarea id="message" name="message" placeholder="Type your message here" maxlength="5000" required="" data-name="Message" class="form-textarea w-input"></textarea>
                      <center>
                        <button type="submit" class="btn btn-default">Submit</button>
                      <center>
                      <!-- <input type="Submit"> -->
                    </form>
                  </div>
                  <div class="modal-footer">

                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal -->
      </div>
    

    <!-- <section class="package">
        <div class="package1">
            
            <ul>
                <li>Clients in China/US</li>
                <li>Audit Findings Review</li>
                <li>CAPA Consulting</li>
                <li>CAPA Development</li>
                <li>CAPA Review</li>
            </ul>
        </div>
        <div class="package2">
            <h4>Gxp Independent Auditing</h4>
            <p></p>
        </div>
    </section> -->

<section class="business">


    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img src="/static/img/services/bd1.jpg" height="267" width="472">
          <center><h3>Marketing Reasech</h3></center>
          <div class="caption">
                <div class="icon">
                    <!-- <center><img src="/static/img/services/icon_quality_1.png"></center> -->
                    <center><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span></center>
                </div>
                <div class="text">
                <ul>
                    <li>Competitive Landscape</li>
                    <li>Partnering Strategic Analysis</li>
                    <li>Strategic Consulting</li>
                    <li>Structural Alternatives</li>
                    <li>Facilitation Services</li>
                    <li>Advisory Services</li>
                    <li>Negotiation Expertise</li>
                </ul>
                </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img src="/static/img/services/bd4.png" height="267" width="472">
          <center><h3>Due Diligence</h3> </center>
          <div class="caption">
            <div class="icon">
                <!-- <center><img src="/static/img/services/icon_quality_2.png"></center> -->
                <center><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></center>
            </div>
            <div class="text">
                <ul>
                    <li>GxP Independent Audit</li>
                    <li>Products Information</li>
                    <li>Market, Sales, Distribution</li>
                    <li>Pipeline Evaluation</li>
                    <li>Management Team Interview</li>
                    <li>Emerging Market Resource Feasibility Evaluation </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
 
    </div>


    <div class="float-button"> 
        <a href="https://crconc.org/wp-content/uploads/2018/02/due-diligence-Check-List.pdf" class="btn btn-primary"> 
            Sample Due Dilligence Checklist
            <br>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>

    </div>

</section>

    



    
    <% include ../partials/footer %>
</body>
</html>