#hero {
  background-clip: padding-box;
  background-image: url("/static/img/references/hero_water.jpg");
  background-position-x: center;
  background-position-y: 25%;
  background-size: 130%;
  padding: 0;
  padding-top: 70px;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#hero h1 {
  color: white;
  font: bold 100px "Open Sans", sans-serif;
  margin-top: 120px;
  position: relative;
  text-shadow: 4px 4px #888;
  z-index: 1;
}

#hero .gradient-mask {
  background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
  height: 30%;
  position: absolute;
  top: 70%;
  width: 100%;
}

#ngo {
  padding-bottom: 50px;
  padding-top: 25px;
}

#ngo .row {
  margin: -20px 0;
}

#title {
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 100px;
  margin-top: 150px;
  /* text-shadow: 4px 4px #AB5BAB; */
}

#ngo .ngo-item .ngo-image {
  background-clip: padding-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  box-shadow: 8px 8px 6px -3px gray;
  border: 1px solid #bbb;
  display: block;
  height: 200px;
  margin: 20px auto;
  max-width: 450px;
}

#AACR {
  background-image: url("/static/img/references/AACR1.jpg");
}

#ARM {
  background-image: url("/static/img/references/ARM1.png");  
}

#ASCO {
  background-image: url("/static/img/references/ASCO1.png");
}

#CATAPULT {
  background-image: url("/static/img/references/CATAPULT2.jpg");
}

#CCRM {
  background-image: url("/static/img/references/CCRM1.jpg");
}

#CRI {
  background-image: url("/static/img/references/CRI1.png");
}

#CRIM {
  background-image: url("/static/img/references/CRIM1.png");
}

#LLS {
  background-image: url("/static/img/references/LLS1.jpg");
}

@media (max-width: 768px) {
  #hero {
    background-size: 768px auto;
  }

  #ngo {
    margin-top: 30px;
  }

  #main-content {
    border: 1px solid #ddd;
  }

  #sidebar .list-group > a {
    border: 1px solid #ddd;
  }

  #main-content {
    min-height: unset;
    padding: 20px 10px;
  }

  #main-content h1 {
    font-size: 30px;
    text-align: center;
  }

  #main-content ul {
    font-size: 14px;
  }

  #main-content #logos > a > img {
    display: block;
    margin: 10px auto;
  }
  
  #ngo .ngo-item .ngo-image {
    height: 180px;
    width: 300px;
  }  
  
  #main-content ul {
    font-size: 12px;
  }
}